In [48]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [49]:
url = "https://www.legislation.govt.nz/regulation/public/2022/0168/latest/whole.html"
headers = {"user-agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36"}
request = requests.get(url, headers=headers)
soup = BeautifulSoup(request.text, "html.parser")

Scrape table 1

In [50]:
# Find the div with id "LMS698035"
div_table = soup.find("div", {"id": "LMS698035"})

table_body = div_table.find("tbody")
table_rows = table_body.find_all("tr")

In [51]:
# Create an empty list to hold the table data
table_data = []

# Iterate over each table row
for row in table_rows:
    # Extract data from each table cell
    cells = row.find_all(["td", "th"])  # Modified to include th tags as well
    row_data = [cell.get_text(strip=True) for cell in cells]
    # Append row data to the table data list
    table_data.append(row_data)

In [52]:
# Convert the table data to a DataFrame
df = pd.DataFrame(table_data)

# Print the DataFrame
df

,0,1,2,3,4
0,Escherichia coli,,Less than 1 in 100 mL of sample,,
1,Total pathogenic protozoa,,Less than 1 verified infectious (oo)cyst per 1...,,

Do some wrangling

In [53]:
# Drop unnecessary columns
df_clean = df.drop([1, 3], axis=1)
df_clean

# Rename remaining columns
table1_df = df_clean.rename(columns={0: "Determinand", 2: "Maximum Acceptable Value", 4: "Notes"})
table1_df

,Determinand,Maximum Acceptable Value,Notes
0,Escherichia coli,Less than 1 in 100 mL of sample,
1,Total pathogenic protozoa,Less than 1 verified infectious (oo)cyst per 1...,

Scrape table 2

In [54]:
# Find the div with id "LMS698037"
div_table2 = soup.find("div", {"id": "LMS698037"})

table_body2 = div_table2.find("tbody")
table_rows2 = table_body2.find_all("tr")

In [55]:
# Create an empty list to hold the table data
table_data2 = []

# Iterate over each table row
for row in table_rows2:
    # Extract data from each table cell
    cells = row.find_all(["td", "th"])  # Modified to include th tags as well
    row_data = [cell.get_text(strip=True) for cell in cells]
    # Append row data to the table data list
    table_data2.append(row_data)

In [56]:
# Convert the table data to a DataFrame
df2 = pd.DataFrame(table_data2)

# Print the DataFrame
df2

,0,1,2,3,4
0,Aluminium,,1,,
1,Antimony,,0.02,,
2,Arsenic,,0.01,,
3,Barium,,1.5,,
4,Boron,,2.4,,
5,Bromate,,0.01,,
6,Cadmium,,0.004,,
7,Chlorate,,0.8,,
8,Chlorine,,5,,Expressed in mg/L as Cl2
9,Chlorite,,0.8,,
10,Chromium,,0.05,,Total chromium content
11,Copper,,2,,
12,Cyanide,,0.6,,
13,Cyanogen chloride,,0.4,,
14,Fluoride,,1.5,,
15,Lead,,0.01,,
16,Manganese,,0.4,,
17,Mercury,,0.007,,Inorganic mercury only
18,Monochloramine,,3,,Expressed in mg/L as Cl2
19,Nickel,,0.08,,
20,"Nitrate, short-term",,50,,"Expressed in mg/L as NO3, or 11.3 mg/L as NO3-N"
21,"Nitrite, short-term",,3,,Expressed in mg/L as NO2
22,Nitrate and nitrite,,Σ ratio < 1,,The sum of the ratio of the concentrations of ...
23,Perchlorate,,0.08,,
24,Selenium,,0.04,,
25,Uranium,,0.03,,

Do some wrangling for table 2

In [57]:
# Drop unnecessary columns
df_clean2 = df2.drop([1, 3], axis=1)
df_clean2

# Rename remaining columns
table2_df = df_clean2.rename(columns={0: "Determinand", 2: "Maximum Acceptable Value", 4: "Notes"})
table2_df

,Determinand,Maximum Acceptable Value,Notes
0,Aluminium,1,
1,Antimony,0.02,
2,Arsenic,0.01,
3,Barium,1.5,
4,Boron,2.4,
5,Bromate,0.01,
6,Cadmium,0.004,
7,Chlorate,0.8,
8,Chlorine,5,Expressed in mg/L as Cl2
9,Chlorite,0.8,
10,Chromium,0.05,Total chromium content
11,Copper,2,
12,Cyanide,0.6,
13,Cyanogen chloride,0.4,
14,Fluoride,1.5,
15,Lead,0.01,
16,Manganese,0.4,
17,Mercury,0.007,Inorganic mercury only
18,Monochloramine,3,Expressed in mg/L as Cl2
19,Nickel,0.08,
20,"Nitrate, short-term",50,"Expressed in mg/L as NO3, or 11.3 mg/L as NO3-N"
21,"Nitrite, short-term",3,Expressed in mg/L as NO2
22,Nitrate and nitrite,Σ ratio < 1,The sum of the ratio of the concentrations of ...
23,Perchlorate,0.08,
24,Selenium,0.04,
25,Uranium,0.03,

Scrape table 3

In [58]:
# Find the div with id "LMS698039"
div_table3 = soup.find("div", {"id": "LMS698039"})

table_body3 = div_table3.find("tbody")
table_rows3 = table_body3.find_all("tr")

In [59]:
# Create an empty list to hold the table data
table_data3 = []

# Iterate over each table row
for row in table_rows3:
    # Extract data from each table cell
    cells = row.find_all(["td", "th"])  # Modified to include th tags as well
    row_data = [cell.get_text(strip=True) for cell in cells]
    # Append row data to the table data list
    table_data3.append(row_data)

In [60]:
# Convert the table data to a DataFrame
df3 = pd.DataFrame(table_data3)

# Print the DataFrame
df3

,0,1,2,3,4
0,Acrylamide,,0.0005,,
1,Alachlor,,0.02,,
2,Aldicarb,,0.01,,
3,Aldrin + dieldrin,,0.00004,,"The sum of both, not individually"
4,"Anatoxins (includes congeners anatoxin-a, homo...",,0.006,,Expressed as anatoxin-a toxicity equivalents
...,...,...,...,...,...
88,Triﬂuralin,,0.03,,
89,Trihalomethanes (THMs),,Σ ratio < 1,,The sum of the ratio of the concentration of e...
90,Vinyl chloride,,0.0003,,
91,Xylenes (total),,0.6,,
92,1080 long-term,,0.0035,,

Do some wrangling for table 3

In [61]:
# Drop unnecessary columns
df_clean3 = df3.drop([1, 3], axis=1)
df_clean3

# Rename remaining columns
table3_df = df_clean3.rename(columns={0: "Determinand", 2: "Maximum Acceptable Value", 4: "Notes"})
table3_df

,Determinand,Maximum Acceptable Value,Notes
0,Acrylamide,0.0005,
1,Alachlor,0.02,
2,Aldicarb,0.01,
3,Aldrin + dieldrin,0.00004,"The sum of both, not individually"
4,"Anatoxins (includes congeners anatoxin-a, homo...",0.006,Expressed as anatoxin-a toxicity equivalents
...,...,...,...
88,Triﬂuralin,0.03,
89,Trihalomethanes (THMs),Σ ratio < 1,The sum of the ratio of the concentration of e...
90,Vinyl chloride,0.0003,
91,Xylenes (total),0.6,
92,1080 long-term,0.0035,

Scrape table 4

In [62]:
# Find the div with id "LMS698041"
div_table4 = soup.find("div", {"id": "LMS698041"})

table_body4 = div_table4.find("tbody")
table_rows4 = table_body4.find_all("tr")

In [63]:
# Create an empty list to hold the table data
table_data4 = []

# Iterate over each table row
for row in table_rows4:
    # Extract data from each table cell
    cells = row.find_all(["td", "th"])  # Modified to include th tags as well
    row_data = [cell.get_text(strip=True) for cell in cells]
    # Append row data to the table data list
    table_data4.append(row_data)

In [64]:
# Convert the table data to a DataFrame
df4 = pd.DataFrame(table_data4)

# Print the DataFrame
df4

                      0 1    2 3                            4
0                 Radon    100
1  Total alpha activity    0.5           Bq/L excluding radon
2   Total beta activity      1    Bq/L excluding potassium-40

Do some wrangling for table 4

In [65]:
# Drop unnecessary columns
df_clean4 = df4.drop([1, 3], axis=1)
df_clean4

# Rename remaining columns
table4_df = df_clean4.rename(columns={0: "Determinand", 2: "Maximum Acceptable Value", 4: "Notes"})
table4_df

            Determinand Maximum Acceptable Value                        Notes
0                 Radon                      100
1  Total alpha activity                      0.5         Bq/L excluding radon
2   Total beta activity                        1  Bq/L excluding potassium-40

Save all tables as csv files in downloads folder of local device

In [67]:
import os

# Get the path to the user's downloads folder
downloads_path = os.path.join(os.path.expanduser('~'), 'Downloads')

# Specify the file name for the CSV file
csv_file_path_1 = os.path.join(downloads_path, 'drinking table 1.csv')
csv_file_path_2 = os.path.join(downloads_path, 'drinking table 2.csv')
csv_file_path_3 = os.path.join(downloads_path, 'drinking table 3.csv')
csv_file_path_4 = os.path.join(downloads_path, 'drinking table 4.csv')

# Save the DataFrame to the CSV file
table1_df.to_csv(csv_file_path_1, index=False)
table2_df.to_csv(csv_file_path_2, index=False)
table3_df.to_csv(csv_file_path_3, index=False)
table4_df.to_csv(csv_file_path_4, index=False)